.container {
  background-image: url(./stars.jpg);
  height: 800px;
  font-family: 'Mukta', sans-serif;
  font-weight: 900;
}
.navItem {
color: #aed9e0;
font-size: 20px
}
.nameImage {
  width: 100%;
}
.logo {
  margin: 10px;
  height: 30px;
}
h3 {
  color: #aed9e0;
}
.firstSection {
  height: 800px;
}
.secondSection {
  margin-top: 100px;
  background-color: #457b9d; 
}
.downButton {
  margin-top: 40px;
  text-align: center;
}
