html, body, #root, #root>div {
  background-color: #22223b;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  scroll-behavior: smooth;
}
#skill-tile {
  margin: 2px;
}
@media only screen and (min-width: 750px) {
  .mainArea {
    display: flex;
  width: 900px;
  margin: auto;
  }
  .projArea {
    display: flex;
  width: 900px;
  margin: auto;
  padding-left: 30px;
  }
} 
.navItem {
color: #aed9e0;
font-size: 20px
}
.nameImage {
  width: 100%;
}
.logo {
  margin-left: 3px;
  margin-right: 3px;
  height: 20px;
}
h3 {
  color: #aed9e0;
}

.card-body {
  background-color: #a5a5a5b7;
}
.logoDesc {
  height: 20px;
  margin: 5px;
}
.project {
  margin-top: 10px;
  margin-bottom: 10px;
}
.face {
  margin-top: 15px;
  width: 200px; 
  border-radius: 5px;
}
.banner {
  float:right;
  width: 400px;
}

.description {
  color: #dfdfdf;
  font-size: 13px;
  font-weight: 500;
}
.skillContainer {
  text-align: right;
  float: right;
}
.description {
  text-align: right;
}
.card-text {
  color: #22223b;
}

@media only screen and (max-width: 400px) {
  .banner {
    width: 200px;
  }
  .face {
    margin-left: 55px;
  }
}