html, body, #root, #root>div {
  
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  scroll-behavior: smooth;
}
.navItem {
color: #aed9e0;
font-size: 20px
}
.nameImage {
  width: 100%;
}
.logo {
  margin-left: 3px;
  margin-right: 3px;
  height: 20px;
}

h3 {
  color: #aed9e0;
}
.firstSection {
  height: 800px;
  width: 100%;
}
.secondSection {
  margin-top: 50px;
}
.downButton {
  margin-top: 40px;
  text-align: center;
}
.card-body {
  padding: 0;
  position: relative;
  background-color: #4a4e69;
  
  
}
.logoDesc {
  height: 20px;
  margin: 5px;
}
.card-header {
  background-color: #9b9b7a;
}
.coverDiv {
  color: #dfdfdf;
  position: absolute;
  
}
.card-body .coverDiv {
  opacity: 0;
  position: absolute;
  z-index: 99;
  transition: 1s;
}
.card-body:hover .coverDiv {
  opacity: 100;
  transition: 1s;
   
}

.card-body:hover .imgHov {
  opacity: 0;
  transition: .5s;
}
.project {
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.imgHov {
  width: 100%;
  transition: 1s;
}
.description {
  text-align: right;
}
.face {
  margin-top: 15px;
  width: 200px; 
  border-radius: 5px;
}
.banner {
  float:right;
  width: 400px;
}
.descriptionText {
  font-size: 20px;
  margin-right: 15px;
  margin-top: 40px;
}
#projectsContainer {
  margin-left: 40px;
}
.aboutDescription {
  color: #dfdfdf;
  font-size: 13px;
  font-weight: 500;
}
.aboutContainer {
}
.skillContainer {
  
}
